/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: #d28ee1;
  font-family: Verdana;
  margin: 12px;
  padding: 12px;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: Montserrat;
  color: rgb(93, 10, 141);
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 1px;
  word-spacing: 3px;
  font-size: 200%;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 12px;
  padding: 12px;
  border: dashed 2px #ff28ac;
  background-color: #efa4d2;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 15px;
  margin-bottom: 12px;
  border: none 1px #ff28ac;
  background-color: #ffbde6;
}
